#start-button {
    margin: 0 auto;
    grid-row: 4;

    button {
        &:hover {
            background-color: #6989a4;
            cursor: pointer;
        }

        width: 60vw;
        height: 6vh;
        font-family: "Minecraft";
        background-color: #676464;
        color: #FFFFFF;
        box-shadow: inset 0px -3px rgba(0, 0, 0, 0.351);
        max-width: 150px;
    }
}