@import url(./fonts.scss);
@import url(./animations.scss);
@import url(./transitions.scss);

$gradient: linear-gradient(
    0.25turn,
    rgb(244, 77, 21),
    rgb(237, 203, 13),
    rgb(176, 248, 21),
);

* {
    margin: 0;
    padding: 0;
}

main {
    width: 100vw;
    height: 100vh;
    background-image: url(../images/background-screen-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-rows: repeat(4, 1fr);

    h1 {
        margin-top: 5vh;
        text-align: center;
        font-family: "Minecraft";
        font-size: 22px;
        grid-row: 1;
        letter-spacing: 1px;
    }

    #characters {
        margin: 0 auto;
        margin-top: 42vh;
        width: 40vw;
        height: 35vh;
        // border: 1px solid red;
        text-align: center;
        font-family: "Minecraft";
        overflow: hidden;
        grid-row: 2;
        display: flex;

        .hidden-right {
            margin-left: 90vw !important;
        }

        .hidden-left {
            margin-left: -37.6vw !important;
        }

        .character {
            margin: 0 3vw;
            p {
                background-color: rgba(61, 61, 61, 0.277);
                width: 60px;
                margin: 0 auto;
                text-transform: capitalize;
                color: white;
            }

        }

    }

    #start-button {
        margin: 0 auto;
        grid-row: 4;

        button {
            &:hover {
                background-color: #6989a4;
                cursor: pointer;
            }

            width: 60vw;
            height: 6vh;
            font-family: "Minecraft";
            background-color: #676464;
            color: #FFFFFF;
            box-shadow: inset 0px -3px rgba(0, 0, 0, 0.351);
        }
    }

    #arrows {
        grid-row: 3;
        margin: auto auto;
        margin-top: 1vh;
        #left-arrow,
        #right-arrow {
            width: 10vw;
            background-image: $gradient;
            background-size: 400%;
            border-radius: 100%;
            overflow: hidden;
            animation: background-arrow 2s infinite alternate;
        }
        #left-arrow {
            rotate: 180deg;
            opacity: 0.5;
            margin-right: 5px;
        }

        #right-arrow {
            margin-left: 5px;
        }
    }

}