#characters {
    margin: 0 auto;
    margin-top: 42vh;
    width: 40vw;
    height: 35vh;
    text-align: center;
    font-family: "Minecraft";
    overflow: hidden;
    grid-row: 2;
    display: flex;
    justify-content: center;

    // .hidden-right {
    //     margin-left: 90vw !important;
    // }
    .hidden-right {
        right: 100% !important;
        opacity: 0 !important;
    }
    .hidden-left {
        left: 100% !important;
        opacity: 0 !important;
    }

    .character {
        position: absolute;
        right: 0%;
        left: 0%;
        opacity: 1;
        overflow: hidden;
        p {
            background-color: rgba(61, 61, 61, 0.277);
            width: 60px;
            margin: 0 auto;
            text-transform: capitalize;
            color: white;
        }

    }

}