$gradient: linear-gradient(217deg, rgba(255, 42, 42, 0.8), rgba(255,0,0,0) 70.71%),
linear-gradient(130deg, rgba(70, 250, 70, 0.981), rgba(0,255,0,0) 70.71%),
linear-gradient(336deg, rgb(239, 255, 96), rgba(0,0,255,0) 70.71%);

#username {
  grid-row: 3;
  display: flex;
  justify-content: center;
//   animation: rotate 5s linear infinite;

  #border {
    background-image: $gradient;
    padding: 3px;
    border-radius: 6px;

    #username-input {
      border: none;
      border-radius: 6px;
      transform: rotate(0);
      font-size: 18px;
      background: none;
      width: 100%;
      padding: 5px;
      color: white;
      &::placeholder {
        color: white;
        opacity: 1;
      }
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}