main {
    width: 100vw;
    height: 100vh;
    background-image: url(../../../images/background-screen-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    overflow: hidden;
    h1 {
        margin-top: 5vh;
        text-align: center;
        font-family: "Minecraft";
        font-size: 22px;
        grid-row: 2;
        letter-spacing: 1px;
    }
}