@media screen and (min-width: 768px) {
    main #about .container{
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
        
    }

    main #about .container #box {
        width: 100%;
    }

    main #about {
        height: 850px;
        background-position-x: 100%;
    }

}

@media screen and (min-width: 992px) {
    main #about .container {
        flex-wrap: unset;
    }

    main #about {
        height: 815px;
    }
}

@media screen and (min-width: 1272px) {
    main #about {
        margin: 0 auto;
        background-position-x: 100%;
    }

    .box-one .round{
        width: 700px;
    }
}

@media screen and (max-width: 442px) {
    
}