<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TamagoCraft</title>
    <link rel="stylesheet" href="../styles/start_page/start_style.scss">
</head>

<body>
    <audio src="../sounds/click.mp3" id="click"></audio>
    <main>
        <h1>Select your character</h1>
        <div id="characters">
        </div>
        
        
        
        <div id="bottom"> <!-- start-button -->
            <div id="arrows">
                <img id="left-arrow" src="/images/flecha-hacia-la-derecha-en-un-circulo.png" alt="Left pointing arrow">
                <img id="right-arrow" src="/images/flecha-hacia-la-derecha-en-un-circulo.png" alt="Right pointing arrow">
            </div>
            <div id="username">
                <div id="border">
                    <input type="text" placeholder="Type your username" id="username-input">
                </div>
            </div>
            <button id="button">Start</button>
        </div>
    </main>
    <script src="/scripts/script.ts" type="module"></script>
</body>

</html>