<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div id="left-side">
            <span id="hamburger"></span>
            <p id="brand">Netflix</p>
        </div>
        <input type="text" placeholder="Rechercher">
    </header>
    <main>
        <div id="first-movie">
            <h1 class="title"></h1>
        </div>

        <div class="movie-list">
            <p class="title">Films comiques hollywoodiens</p>
            <div class="carousel">

            </div>
        </div>

        <div class="movie-list">
            <p class="title">Fraîchement sélectionnés pour vous</p>
            <div class="carousel">

            </div>
        </div>
    </main>

    <footer>
        <div id="social-medias">
            <span id="facebook"></span>
            <span id="instagram"></span>
            <span id="twitter"></span>
            <span id="youtube"></span>
        </div>

        <ul id="member-links">
            <li>
                <a href="/">Conditions d’utilisation</a>
            </li>
            <li>
                <a href="/">Déclaration de confidentialité</a>
            </li>
            <li>
                <a href="/">Préférences de cookies</a>
            </li>
            <li>
                <a href="/">Centre d’aide</a>
            </li>
        </ul>

        <button id="service-code">Code de service</button>
    </footer>

    <script src="../assets/scripts/script.ts"></script>
</body>
</html>