* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

#question {
    width: 80%;
}

#question > #title {
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.407);
    color: white;
    text-align: center;
    line-height: 10vh;
    border-radius: 10px 10px 0px 0px;
}

#question > #content {
    background-color: rgba(255, 255, 255, 0.379);
    border-radius: 0px 0px 10px 10px;
    height: 60vh;
}

#question > #content > #answers {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vh;
}

#red {
    background-color: rgb(254, 65, 65);
}

#red-remove {
    box-shadow: unset;
    background-color: unset;
}

#purple {
    background-color: rgb(231, 50, 219);
}

#purple-remove {
    box-shadow: unset;
    background-color: unset;
}

#green {
    background-color: rgb(65, 254, 103);
}

#green-remove {
    box-shadow: unset;
    background-color: unset;
}

#blue {
    background-color: rgb(65, 245, 254);
    
}

#blue-remove {
    box-shadow: unset;
    background-color: unset;
}


.answer:first-child{
    margin-top: 5vh;
}

.answer:last-child{
    margin-bottom: 5vh;
}

.answer {
    width: 60%;
    height: 10vh;
    box-shadow: 4px 4px 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.answer:hover {
    cursor: pointer;
}

.answer:not(#blue) {
    margin-bottom: 2vh;
}

#result {
    margin-top: 10%;
}

#bad {
    color: rgb(248, 81, 81);
}

#nice {
    color: rgb(82, 241, 180);
}

#bad, #nice {
    font-weight: bold;
    font-size: 32px;
}

.errorMessage{
    color: rgb(255, 0, 0);
    font-size: 16px;
    background-color: white;
    border-radius: 10px;
    margin-top: 15px;
    width: 340px;
    text-align: center;
}

.answer#play{
    transition: all 500ms;
}

.answer#play:hover {
    border-radius: 15px;
    cursor: pointer;
}

#answerResultParagraph{
    font-weight: bold;
    font-size: 32px;
    margin-top: 8px;
    margin-bottom: 4px;
}

#answerResultParagraphNextQuestion{
    font-size: 28px;
}

#answerResultParagraphSeconds{
    font-size: 34px;
}

.secondsGreen {
    color: rgb(55, 197, 55);
}

.secondsOrange {
    color: rgb(250, 165, 17);
}

.secondsRed {
    color: rgb(254, 0, 0);
}

