#background-stats {
    width : 90vw;
    height: 70vh;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    background-image: url(/images/papyrus-dark.webp);
    color: white;
}

#background-invisible {
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    left: 0;
    margin-top: -90vh;
    transition: margin-top 1s;
}